<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fenchtose.gujarativiewer" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".AppBase"
        android:allowBackup="true"
        android:icon="@drawable/logo_96"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".views.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".views.activities.DisplayActivity">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEND"/>
                <data android:mimeType="text/plain"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service android:name=".controllers.ClipboardService"/>

        <receiver android:name=".controllers.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" /> <!-- for htc -->
            </intent-filter>
        </receiver>

        <service android:name=".controllers.AutoGrabService"
            android:canRetrieveWindowContent="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>

        <service android:name=".controllers.WindowRenderingService"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b3a2c6cd9c46a17283801fd8bddcd6711690820d" />

    </application>

</manifest>
